<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ style('style') }}
</head>
<body>
  <div id="app">
    <App/>
  </div>
  <script src="{{assetsUrl('frontend/js/vendor.js')}}"></script>
  <script src="{{assetsUrl('frontend/js/app.js')}}"></script>
</body>
</html>
